<p id="notice"><%= notice %></p>

<h1>Title: <%= @image.title %></h1>

<%= image_tag(@image.file.variant(resize_to_limit: [500, nil])) %>
<h3>Description: <%= @image.description %></h3>

<table>
  <tbody>
      <tr>
        <td><%= link_to 'Home', root_path %></td>
        <td><%= link_to 'Edit', edit_image_path(@image) %></td>
        <td><%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
